<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do List</title>
  </head>
  <body>
    <% if (dayname==="Thursday") { %>                                   // <% scriptlet tag used only for control
      <h1 style="color: red">Its a <%=dayname%></h1>                    // flow (if else switch while for)
    <%  } else { %>
        <h1>Its a <%=dayname%></h1>    <% }%>
  </body>
</html>
